<div class="container">

  <div class="row">
    <div class="col-xs-12">

      <div class="title">
        <h1> THE LONGEST WORD GAME </h1>
      </div>

      <hr>

      <h3>Your letters:</h3>

      <table style="width:100%">
        <% @grid.each do |letter| %>
          <tr><td><%= letter %></td></tr>
        <% end %>
      </table>

      <h3>Your result:</h3>
    </div>

  </div>


  <div class="row">
    <div class="col-xs-6">
      <p class="result-lhs">Your word:</p>
    </div>
    <div class="col-xs-6">
      <p class="result-rhs"><%= @attempt %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <p class="result-lhs">Time Taken to answer:</p>
    </div>
    <div class="col-xs-6">
      <p class="result-rhs"><%= @result[:time] %> second(s)</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <p class="result-lhs">Translation to French:</p>
    </div>
    <div class="col-xs-6">
      <p class="result-rhs"><%= @result[:translation] %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <p class="result-lhs">Your score:</p>
    </div>
    <div class="col-xs-6">
      <p class="result-rhs"><%= @result[:score] %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h3><%= @result[:message] %></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <a class="btn btn-primary" href="/game"> Play again? </a>
    </div>
  </div>

  <div class="total-results">
    <p>You have played <strong><%= @times %> times</strong></p>
    <p>Your average score is <strong><%= @scores %></strong></p>
  </div>

  <br>
</div>



